.med {
    background-color: white;
    /* border-radius: 15px; */
}
.results {
    padding-top: 10px;
    margin-bottom: 0px;
}
.dosage, .side_effects, .contraindications {
    padding: 10px;
    margin-top: 0px;
    text-align: left;
    font-size: 12pt;
}
#dosage, #side_effects, #contraindications {
    font-weight: bold;
}
.notes {
    width: 530px;
    /* width: 90%; */
    height: 120px;
    border-radius: 15px;
    text-indent: 5px;
    padding: 2px;
}
.medication, .prescribed_by, .frequency {
    position: relative;
    display: inline-block;
    margin: 0px 1px;
    width: 171.6px;
    /* width: 29.2%; */
    border-radius: 15px;
    text-indent: 5px;
}
@media screen and (max-width: 530px) {
    .notes {
        width: 90%;
    }
    .medication, .prescribed_by, .frequency {
        width: 29%;
        margin: 0px 1px;
    }
    
}