.container{
    position: relative;
    /* display: block; */
    height: auto;
    /* padding: 20px; */
    width: 90%;
    margin: auto;
    /* border: solid 1px #262B80; */
}
.row{
    position: relative;
}
.link {
    float: left;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10%;
}
.link:hover {
    color: white;
}