.search{
    position: relative;
    display: inline-block;
    margin: auto;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    text-indent: 5px;
}
.search-btn{
    position: relative;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightgrey;
}